<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218939421534-pmpfb84as2p6huear2uchnn5vot23nsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218939421534-pmpfb84as2p6huear2uchnn5vot23nsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBFFXAWBzHfkKB6D1JHCvSXLWHl4u70hoA</string>
	<key>GCM_SENDER_ID</key>
	<string>218939421534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crucc.beta.tydahlwave</string>
	<key>PROJECT_ID</key>
	<string>cru-central-coast-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>cru-central-coast-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218939421534:ios:829e7ab8a98c916e</string>
	<key>DATABASE_URL</key>
	<string>https://cru-central-coast-prod.firebaseio.com</string>
</dict>
</plist>