<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508622621725-5adit95pbqnp1ii54tvvinq42ptmfkdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508622621725-5adit95pbqnp1ii54tvvinq42ptmfkdr</string>
	<key>API_KEY</key>
	<string>AIzaSyA6CjeKmlwecbYU_BvjSPA2-Y1o077kgOs</string>
	<key>GCM_SENDER_ID</key>
	<string>508622621725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crucc.calpoly.beta</string>
	<key>PROJECT_ID</key>
	<string>cru-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>cru-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508622621725:ios:b7a429cbdec0258f</string>
	<key>DATABASE_URL</key>
	<string>https://cru-demo.firebaseio.com</string>
</dict>
</plist>